# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*~
*.swp
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.txt
*.tmp
*.TMP

*.suo
*.ncb
*.pdb
*.lib
*.user
*.bak
*.ilk
*.cache
*.log
